<footer class="site-footer">
  <section class="wrapper">
    <p class="madewithlove"> &copy; 2017 - {{ site.author | escape }}</p>

    <section class="footer_grid grid-3-small-1 has-gutter">


      <nav>
        <a href="/contact/">Contact</a>
        <a href="/about/">À propos</a>
      </nav>

      <section class="share-page">
        <a href="https://twitter.com/ThibaultCMTD" title="Twitter">
          <span class="fa-stack fa-1g">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x icon-inverse"></i>
          </span>
        </a>

        <a href="https://www.linkedin.com/in/thibaultcarmantrand/" title="LinkedIn">
          <span class="fa-stack fa-1g">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x icon-inverse"></i>
          </span>
        </a>

        <a href="https://codepen.io/ThibaultCarmantrand/"  title="Codepen">
          <span class="fa-stack fa-1g">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-codepen fa-stack-1x icon-inverse"></i>
          </span>
        </a>

        <a href="https://github.com/ThibaultCarmantrand"  title="Github">
          <span class="fa-stack fa-1g">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x icon-inverse"></i>
          </span>
        </a>
      </section>


      <nav>
        <a href="/legals/">Mentions légales</a>
        <a href="/sitemap.xml">Sitemap</a>
      </nav>

    </section>

  </section>
</footer>
